.address {
  height: 600px;
  width: 400px;
  
  &-form {
    border: 1px solid black;
    border-radius: 8px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 24px;
    background-color: #c3c3c3;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
    padding: 0 24px;

    button {
      height: 48px;
    }
  }
}